# Clean YouTube

- [Horizontal layout](/horizontal) (uniform height shared by all players)
- [Vertical layout](/vertical) (uniform width shared by all players)

---

## References

- https://stackoverflow.com/q/79341243/117030
- https://github.com/vidstack/player/issues/1445
- https://github.com/vidstack/player/issues/1104#issuecomment-1908991856
